astroid
certifi
chardet
click
colorama
Flask
idna
isort
itsdangerous
Jinja2
lazy-object-proxy
MarkupSafe
mccabe
pip
pycountry
pylint
python-dotenv
requests
setuptools
six
spotipy
toml
urllib3
Werkzeug
wrapt