<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Spotify Releases</title>
</head>

<body>
    <p style='margin:1;'>Country</p>
    <select id='selectCountry' name='selectCountry' style='width: 60px;'>
        <option value='ALL' selected='true'>ALL</option>
    </select>

    <h1 style="text-align: center;">Spotify New Releases</h1>

    <div id='container' style="text-align: center;"></div>

    <script>
    $(document).ready(()=>{
        getCountryCodes();
        getReleases('ALL');
    })

    $('#selectCountry').on('change',()=>{
        var country = $('#selectCountry').val();
        getReleases(country);
    })

    function getReleases(country){
        $.post('/getReleases', country)
            .done((res)=>{
                $('#container').empty();

                var releases = JSON.parse(res);

                for(var i =0 ;i<releases.length; i++){
                    $('#container').append(`<p>${releases[i].artists[0].name} - ${releases[i].name}</p>`)
                }
            })
            .fail(()=>{
                $('#container').empty();
                $('#container').append(`<p>There are no new releases for this country now!</p>`);
            })
    }

    function getCountryCodes(){
        $.post('/getCountryCodes', (res)=>{

            var codes = JSON.parse(res);

            for(var i =0 ;i<codes.length; i++){
                $('#selectCountry').append(`<option value='${codes[i]}'>${codes[i]}</option>`);
            }
        })
    }
    </script>

</body>
</html>
